@import "tailwindcss";

.input {
  @apply w-full border rounded-lg px-4 py-3 mb-4
         text-sm
         focus:outline-none
         focus:ring-2
         focus:ring-black;
}

.error {
  @apply text-red-500 text-sm mb-2;
}
